---
layout: default
title: Home
---

<!-- Show last 5 posts here -->
<div class="articles">
{% for post in site.posts limit: 10 %}
    <article>
        <header>
            <time class="article-date type-muted type-s" datetime="{{post.date|date:"%F"}}">{{post.date|date:"%b %d, %Y"}}</time>
            <h2 class="article-heading"><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></h2>
        </header>
        
        {% if post.content contains '<!--more-->' %}
            {{ post.content | split:'<!--more-->' | first }}
        {% else %}
            {{ post.content }}
        {% endif %}
        
        <p class="type-s type-muted">Tag: {{ post.categories | category_links }}</p>
    </article>
{% endfor %}
</ul>
