---
title: Home
layout: default
---

<!-- Show last 5 posts here -->
<div class="articles">
{% for post in paginator.posts %}
    <article>
        <header>
            <time class="type-muted" datetime="{{post.date|date:"%F"}}">{{post.date|date:"%b %d, %Y"}}</time>
            <h2><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></h2>
        </header>

        {% if post.content contains '<!--more-->' %}
            {{ post.content | split:'<!--more-->' | first }}
        {% else %}
            {{ post.content }}
        {% endif %}
    </article>
{% endfor %}
</div>

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="pagination-page">&laquo; Prev</a>
  {% else %}
    <span class="pagination-page">&laquo; Prev</span>
  {% endif %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="pagination-page">Next &raquo;</a>
  {% else %}
    <span class="pagination-page">Next &raquo;</span>
  {% endif %}
</div>
{% endif %}