/*
 * @name    Font size converter
 * @desc    Convert font size from px to rem
 * @usage   @include font-size(16px)
 */
@mixin font-size($size) {
  font-size: $size;
  font-size: ($size/16px)+rem;
}

/*
 * @name      Diagonal stripe mixin
 * @credit    https://gist.github.com/nathos/4759212
 */
@mixin striped-bg($bg-color: #ccc, $darken-amount: 5%, $stripe-color: darken($bg-color, $darken-amount)) {
  background-color: $bg-color;
  background-image: linear-gradient(-45deg, $stripe-color 25%, transparent 25%, transparent 50%, $stripe-color 50%, $stripe-color 75%, transparent 75%, transparent);
  background-size: 40px 40px;
}