/* --------------------------------------------------------------------
   General
   -------------------------------------------------------------------- */
html {
  height: 100%;
  padding-top: 15px;
  @include striped-bg(#b8e9eb, 15%);
}

body {
  min-height: 100%;
  background: #e9f2f2;
}

.container {
  width: 90%;
  min-width: 210px;
  max-width: 800px;
  margin: 0 auto;
}

.content {
  padding-bottom: 1em;
  background: #fff;

  .container {
    padding: 1em 0 0;
  }
}

img {
  max-width: 100%;
  height: auto;
}

/* --------------------------------------------------------------------
   Header
   -------------------------------------------------------------------- */
[role="banner"] {
  margin-bottom: 3em;
  text-align: center;
  font-family: $alt-font-family;

  p {
    margin-bottom: 1em;
  }
}

.logo {
  margin: 0 0 1.35em;

  .logo-inner {
    position: relative;
    display: inline-block;
    padding-top: 50px;
  }

  img {
    width: 100px;
    border-radius: 100%;
    border: 5px solid #000;
  }

  h1 {
    font-weight: 700;
    font-size: 1.8em;
    line-height: 1;
    position: absolute;
    left: 75px;
    top: -15px;
    display: inline-block;
    padding: 20px .5em 28px .5em;
    text-align: center;
    background: url('../img/bubble.png') no-repeat;
    background-size: 100% 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.articles {
  article {
    padding: 1em $wrapper-horiz-spacing;
    border-top: 1px dashed $grey2;

    &:first-child {
      padding-top: 0;
      border-top: 0;
    }
  }
}

article time {
  font-family: $alt-font-family;
}

/* --------------------------------------------------------------------
   Footer
   -------------------------------------------------------------------- */
[role="contentinfo"] {
  background: #e9f2f2;

  .container {
    @include font-size(12px);
    padding: .5em $wrapper-horiz-spacing 1em;
    text-align: center;
    color: #666;
  }
}

