/* --------------------------------------------------------------------
   Variables
   -------------------------------------------------------------------- */
$grey1: #333;
$prim1: #00a1a7;
$prim2: #017276;

/* Typography
   -------------------------------------------------------------------- */
$base-font-size: 16px;
$base-text-color: $grey1;
$base-font-family: Varela, Helvetica, Arial, sans-serif;
$alt-font-family: Vollkorn, 'Times New Roman', serif;
$type-muted-color: #888;

/* Link
   -------------------------------------------------------------------- */
$link-color: $prim1;
$link-hover-color: $prim2;

/* Template
   -------------------------------------------------------------------- */
$wrapper-horiz-spacing: .2em;