/* --------------------------------------------------------------------
   Variables
   -------------------------------------------------------------------- */
$grey1: #333;
$grey2: #ccc;
$prim1: #00a1a7;
$prim2: #017276;


/* Typography
   -------------------------------------------------------------------- */
$base-font-size: 18px;
$base-text-color: $grey1;
$base-font-family: Georgia, 'Times New Roman', serif;
$alt-font-family: 'Source Sans Pro', 'Arial black', Arial, sans-serif;
$type-muted-color: #888;

/* Link
   -------------------------------------------------------------------- */
$link-color: $prim1;
$link-hover-color: $prim2;

/* Template
   -------------------------------------------------------------------- */
$wrapper-horiz-spacing: .2em;